@import url('./carousel.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variables */
:root {
    --header-grey: #121212;
    /* Primary BG bör vara din bakgrundsfärg */
    --primary-bg: #000000;
    --primary-white: #ffffff;
    --primary-grey: #1A1A1A;
    --text-yellow: #F5C518;
}

/* Base */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary-bg);
    max-width: 100%;
}

/* Utils */
.content-wrapper {
    max-width: 1180px;
    margin: 0 auto;
}
.center {
    margin: 0 auto;
}

.d-none {
    display: none;
}

.header {
    background-color: var(--header-grey);
    width: 100%;
    padding: 1.5rem;
    z-index: 999;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 150px;
    background-color: yellow;
}

.header__form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__input {
    width: 50%;
    padding: 1rem;
    border-radius: 2rem 0 0 2rem;
    border: none;
}

.header__form-btn {
    border-radius: 0 2rem 2rem 0;
    width: 5rem;
    border: none;
    cursor: pointer;
}

.header__fav-btn {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-yellow);
    background: none;
    border: none;
    cursor: pointer;
}

.fav-star {
       font-size: 2rem;
       cursor: pointer;
       position: absolute;
       top: 10px;
       right: 10px;
       color: gray;
       transition: color 0.3s ease;
     }

.fav-star.filled {
    color: gold;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 kolumner per rad */
    gap: 20px; /* Avstånd mellan korten */
    justify-content: center;
    padding: 20px;
}

.movie-card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 10px;
    text-align: center;
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.movie-details {
    color: white !important;
    font-size: 20px !important; 
    display: block !important; 
}

/* Responsiv design */
@media (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr); /* 2 kolumner på surfplattor */
    }
}

@media (max-width: 600px) {
    .card-container {
        grid-template-columns: 1fr; /* 1 kolumn på mobil */
    }
}